<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if document.content is defined %}
        <meta name="description" content="{{ document.content }}">
    {% endif %}
    <meta name="author" content="">
    {% if document.title is defined %}
        <title> {{ document.title }} - Seven Manager </title>
    {% endif %}

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
    {% stylesheets '@SevenManagerBundle/Resources/public/css/default/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% javascripts '@SevenManagerBundle/Resources/public/js/header/*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
    <script src="//use.edgefonts.net/bebas-neue.js"></script>

    {% if is_granted("IS_AUTHENTICATED_ANONYMOUSLY") %}
        {% include "CmfCreateBundle::includecssfiles.html.twig" %}
    {% endif %}

</head>

<body>

{% createphp cmfMainContent as="rdf" noautotag %}
<div  {{ createphp_attributes(rdf) }}>

    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
        your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a>
        to
        improve your experience.</p>
    <![endif]-->

    {% include('SevenManagerBundle:Default/Includes:header.html.twig') %}
    <!--/header-->

    {% set slideshow = document.getChoice() == "choiceTwo" ? document.getChildrenMany :document.getMapSlideshow.getChildren %}
    {% if slideshow is defined and slideshow is not empty %}
        {% include('SevenManagerBundle:Containers:slideshow.html.twig') %}
    {% endif %}
    <!--/#main-slider-->

    <!-- Call to Action Bar -->
    <div class="section section-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="calltoaction-wrapper">
                        <span>
                            <h3 {{ createphp_attributes( rdf.subtitle ) }}>
                                {{ createphp_content( rdf.subtitle ) }}
                            </h3>
                        </span>
                        <a href="https://github.com/7rin0/SevenManagerBundle"
                           class="btn btn-orange">Download here!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End Call to Action Bar -->
    <div class="section section-white">
        <div class="container" {{ createphp_attributes( rdf.body ) }}>
            {{ createphp_content( rdf.body ) }}
        </div>
    </div>

    {% set services = document.childrenManyTwo == "choiceTwo" ? document.getChildrenMany :document.getMapSlideshow.getChildren %}
    {% if document.childrenManyTwo is defined and document.childrenManyTwo is not empty %}
        {% include('SevenManagerBundle:Default/Includes:Homepage/services.html.twig') %}
    {% endif %}
    <!-- End Services -->

    {% if document.childrenManyThree is defined and document.childrenManyThree is not empty %}
        {% include('SevenManagerBundle:Default/Includes:Homepage/activities.html.twig') %}
    {% endif %}
    <!-- Our Activities -->

    <hr>

    {% if document.childrenManyFour is defined and document.childrenManyFour is not empty %}
        {% include('SevenManagerBundle:Default/Includes:Homepage/brands.html.twig') %}
    {% endif %}
    <!-- Our Brands -->

    {% include('SevenManagerBundle:Default/Includes:footer.html.twig') %}
    <!-- Footer -->

</div>
{% endcreatephp %}
<!-- Javascripts -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% javascripts '@SevenManagerBundle/Resources/public/js/footer/*' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% render(controller("cmf_create.jsloader.controller:includeJSFilesAction")) %}

</body>
</html>